.Cell {
    width: 70px;
    height: 70px;
    --shadow-coef: 1px;
    opacity: 0.6;
}

.CellBlack {
    background-color: #d08b45;
    box-shadow: 0 0 var(--shadow-coef) #d08b45;
}

.CellWhite {
    background-color: #fdcd9f;
    box-shadow: 0 0 var(--shadow-coef) #fdcd9f;
}