.Cell {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: var(--cell-size);
    height: var(--cell-size);
    opacity: 0.55;

    --cell-size: 80px;
    --shadow-coef: 2px;
}

.CellBlack {
    background-color: #d08b45;
    box-shadow: 0 0 var(--shadow-coef) #d08b45;
}

.CellWhite {
    background-color: #fdcd9f;
    box-shadow: 0 0 var(--shadow-coef) #fdcd9f;
}