.naming {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.chars {
  flex-flow: row;
  width: calc(100% - var(--naming-size) * 2);
  height: var(--naming-size);
}

.digits {
  flex-flow: column;
  width: var(--naming-size);
  height: calc(100% - var(--naming-size) * 2);
}


.items {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #7d512a;
}

.items--top {
  top: 0;
  left: var(--naming-size);
}

.items--top li,
.items--right li {
  transform: rotate(180deg);
}

.items--right {
  top: var(--naming-size);
  right: 0;
}

.items--bottom {
  bottom: 0;
  left: var(--naming-size);
}

.items--left {
  top: var(--naming-size);
  left: 0;
}


.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--naming-font-size);
  line-height: var(--naming-font-size);
  text-transform: uppercase;
  font-weight: bold;
}

.char {
  width: var(--cell-size);
}

.digit {
  height: var(--cell-size);
}
