.Info {
  position: relative;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  margin-left: 50px;
  width: 250px;
  padding: 0 20px;
  background-image: url('../../images/wood.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 25px 25px 25px #444444;
  border: 1px solid #d08b45;
  z-index: 0;

}

.Info:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #d08b45;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  color: #7d512a;
  font-size: 15px;
  line-height: 15px;
}

.draw {
  color: green;
}
