.FieldWrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.Field {
    display: flex;
    width: calc(var(--cell-size) * 8);
    flex-flow: column;
    flex-wrap: nowrap;

    background-image: url('./wood.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 25px 25px 25px #444444;
    border: 1px solid #d08b45;
}