.History {
  --item-size: 20px;
  --item-height: 24px;
  --piece-size: 32px;
  --font-size: 15px;
}

.heading {
  margin-bottom: 5px;
  font-size: var(--font-size);
  font-weight: normal;
}

.list {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: scroll;
  max-height: 200px;
  margin-top: 10px;
  margin-left: 0;
  padding-left: 0;
}

.item {
  display: flex;
  height: var(--item-height);
  padding: 5px 10px;
  align-items: center;
  list-style-type: none;
  line-height: 20px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  border-radius: 10px;
}

.item:hover {
  background-color: rgba(208, 139, 69, .9);
}


.item:last-child {
  cursor: inherit;
}

.item:last-child:hover {
  background-color: transparent;
}

.piece {
  height: var(--item-height);
  margin-right: 5px;
  font-size: var(--piece-size);
}

.move {
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  font-family: monospace;
}

.state {
  height: var(--item-height);
  margin-left: 5px;
  text-transform: lowercase;
}

.checkState {
  color: yellow;
}

.mateState {
  color: red;
}

.drawState {
  color: green;
}
