.History {
  --item-size: 20px;
}

.heading {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: normal;
}

.list {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: scroll;
  max-height: 200px;
  margin-top: 10px;
  margin-left: 0;
  padding-left: 0;
}

.item {
  display: flex;
  height: 25px;
  padding: 5px 10px;
  align-items: center;
  list-style-type: none;
  line-height: 20px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  border-radius: 10px;
}

.item:hover {
  background-color: rgba(208, 139, 69, .9);
}


.item:last-child {
  cursor: inherit;
}

.item:last-child:hover {
  background-color: transparent;
}

.piece {
  height: 25px;
  margin-right: 5px;
  font-size: 40px;
}

.move {
  font-size: var(--item-size);
  font-family: monospace;
}

.state {
  margin-left: 5px;
  text-transform: lowercase;
}

.checkState {
  color: yellow;
}

.mateState {
  color: red;
}
