.BoardWrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.BoardItems {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: start;
}

.NamingWrapper {
    position: relative;
    opacity: 0.8;
    padding: var(--naming-size);
    background-color: #d08b45;
}

.Board {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    background-image: url('../../images/wood.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 25px 25px 25px #444444;
    border: 1px solid #d08b45;
}

.Squares {
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    border: 1px solid #9b6633;
    box-shadow: 0 0 var(--shadow-coef) #7d512a;
}
