.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.items {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.naming_wrapper {
  position: relative;
  opacity: 0.8;
  padding: var(--naming-size);
  background-color: var(--board-background-color);
}

.board {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  background-image: url('../../images/wood.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 25px 25px 25px var(--board-box-shadow-color);
  border: 1px solid var(--board-background-color);
  border-radius: 4px;
  transition-property: var(--rotate-property);
  transition-duration: var(--rotate-duration);
  transition-timing-function: var(--rotate-timing-function);
}

.board--rotated {
  transform: rotate(180deg);
}

.squares {
  position: relative;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  border: 1px solid var(--board-border-color);

  border-radius: 4px;
  box-shadow: 0 0 var(--shadow-coef) var(--squares-box-shadow-color);
  z-index: 1;
}
