html {
  background-color: #A4A4A4FF;

  --cell-size: 80px;
  --naming-size: 30px;
  --naming-font-size: 20px;
  --shadow-coef: 2px;
  --rotate-property: transform;
  --rotate-duration: 1.5s;
  --rotate-timing-function: ease-in-out;

  --board-background-color: #d08b45;
  --board-border-color: #9b6633;
  --board-box-shadow-color: #444444;
  --squares-box-shadow-color: #7d512a;

  --info-text-color: #7d512a;
}