.Square {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: var(--cell-size);
  height: var(--cell-size);
}

.black {
  background-color: #d08b45;
  box-shadow: 0 0 var(--shadow-coef) #d08b45;
}

.white {
  background-color: #fdcd9f;
  box-shadow: 0 0 var(--shadow-coef) #fdcd9f;
}

.active {
  box-shadow: inset 0 0 20px black;
}

.possible {
  box-shadow: inset 0 0 20px black;
}
